.backImage {
	background-image: url("../images/bg2.jpg");
	background-size: cover;
}


.justify-content-center {
	margin-top: 110px; 
}


.btn {
	height: 50px;
	width: 130px;
	text-decoration: none;
	background-color: #aea4a2;
	border-radius: 10px;
	font-weight: bold;
}

.btn:hover {
	box-shadow: 0 0 0 0.2rem rgba(134,142,150,0.5);
	background-color: #8b8381;
	color:white;
}
